.body{
    background-image: url('tarot-frontend/src/styles/history-of-tarot-cards-1.jpg');
    background-size: cover;
  }
.box{
    border: 3px;
    font-family: 'Roboto', sans-serif;
  }
button{
    background: none;
    border: 1px solid, transparent;
    border-color: #FBB31B;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    color: #FBB31B;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    padding: 15px 15px 15px 15px;
  }
button:hover{
    opacity: 0.6
  }
button:focus{
    outline:none
  }
.card-summary-container {
  color: black;
  background-color: #FBB31B;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
}
#card-info {
    align-items: center;
    display: inline-block;
    flex-flow: column;
  } 
#comment-button{
    background: none;
    border: 1px solid, transparent;
    border-color: #FBB31B;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    color: #FBB31B;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    padding: 15px 15px 15px 15px;
}
#comment-button:hover{
  opacity: 0.6;
}
#comment-button:focus{
  outline:none;
}
#card-summary-container {
    display: block;
    border-radius: 15px;
    height: 75vh;
    text-align: center;
  }
/* .container {
    padding: 16px 0;
    text-align:center;
  } */
.description{
    font-size: 5vh;
    font-family:'Roboto', sans-serif;
    text-shadow: -1px 0 #FBB31B, 0 1px #FBB31B, 1px 0 #FBB31B, 0 -1px #FBB31B;
  }
/* .formcontainer {
    margin: 24px 50px 12px;
    text-align: center;
  } */
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 10vh;
    text-shadow: -1px 0 #FBB31B, 0 1px #FBB31B, 1px 0 #FBB31B, 0 -1px #FBB31B;
  }
h2{
    font-size: 6vh;
    font-family: 'Roboto', sans-serif;
  }
.header{
    background-image: url('history-of-tarot-cards-1.jpg');
    background-size: cover;
    color: white;
    display: float;
    justify-content: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
  }
.image-card img {
    max-height: 25vw;
    max-width: 75vw;
  }

.image-container {
    display: inline-block;
    margin: 5px;
  }
.pagetitle{
    color: black;
  }
span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
  }
.tarot-card-reading{
  display: block;
  text-align: center;
  /* font-family: 'Roboto', sans-serif; */
}
.tarot-card{
  display: inline-block;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
}
.tarot-card:hover{
  opacity: 0.6;
}